body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(218, 21, 96);
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#container{
  width: 70%;
  padding: 1rem;
  text-align: left;
  border: 1px solid rgb(236, 48, 48);
  margin: 0 auto;
}
#container h1{
  font-size: 20px;
}

#container p{
  color: blue;
  font-family: 'Times New Roman', Times, serif;

}
#cabecera {
  background-color: blueviolet;
  color: antiquewhite;
  padding: 20px;
  font-size: 20px;
  box-shadow:3px 3px rgb(17, 17, 17) ;
}